body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: url(./img/bg1.jpg);
}

.settings-container {
  background-color: white;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
  display: flex;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.board {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.game-info {
  margin-left: 20px;
}

.game {
  overflow-x: auto;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .gameplay {
  background: rgb(255, 255, 255);
} */

/* * {border:1px solid red} */